lxml  # dependency for urdf_parser_py (see package.xml)
numpy
pillow
pycollada  # to load .dae files
pyyaml  # dependency for urdf_parser_py (see package.xml)
rerun-sdk>=0.20.3
scipy
trimesh
urdfdom-py @ git+https://github.com/ros/urdf_parser_py.git@ros2
